{{- $sidebar := dict -}}
{{- with .Site.Params.sidebar -}}
    {{- if reflect.IsMap . -}}
        {{- $sidebar = . -}}
    {{- end -}}
{{- end -}}
<div id="sidebar_mask"></div>
<aside id="leftbar" class="leftbar widget-area" role="complementary">
    {{- with (index $sidebar "announcement") }}
    <div id="leftbar_announcement" class="card bg-white shadow-sm border-0">
        <div class="leftbar-announcement-body">
            <div class="leftbar-announcement-title text-white">{{ T "announcement" }}</div>
            <div class="leftbar-announcement-content text-white">{{ . }}</div>
        </div>
    </div>
    {{- end }}
    <div id="leftbar_part1" class="widget widget_search card bg-white shadow-sm border-0">
        <div class="leftbar-banner card-body">
            <span class="leftbar-banner-title text-white">
                {{- if index $sidebar "bannerTitle" }}
                    {{ index $sidebar "bannerTitle" }}
                {{- else }}
                    {{ .Site.Title }}
                {{- end }}
            </span>
            {{- with (index $sidebar "bannerSubtitle") }}
            <span class="leftbar-banner-subtitle text-white">
                {{- if eq . "--hitokoto--" }}
                    <span class='hitokoto'></span>
                {{- else }}
                    {{ . }}
                {{- end }}
            </span>
            {{- end }}
        </div>
        {{- with (index $sidebar "menu") }}
        {{- if reflect.IsSlice . }}
        <ul id='leftbar_part1_menu' class='leftbar-menu'>
            {{- range . }}
            {{- $current := false }}
            {{- if not .children }}
                {{- $current = eq $.RelPermalink (.url | relURL) }}
            {{- end }}
            <li class='leftbar-menu-item{{ if .children }} leftbar-menu-item-haschildren{{ end }}{{ if $current }} current{{ end }}'>
                <a{{ if not .children }} href='{{ .url | relURL }}'{{ end }}{{ if .children }} onclick='return false;'{{ end }}>{{ .name }}</a>
                {{- if .children }}
                <ul class='leftbar-menu-item leftbar-menu-subitem shadow-sm'>
                    {{- range .children }}
                    <li class='leftbar-menu-item'>
                        <a href='{{ .url | relURL }}'>{{ .name }}</a>
                    </li>
                    {{- end }}
                </ul>
                {{- end }}
            </li>
            {{- end }}
        </ul>
        {{- end }}
        {{- end }}
        <div class="card-body text-center leftbar-search-button">
            <button id="leftbar_search" class="btn btn-secondary btn-lg active btn-sm btn-block border-0" role="button" data-toggle="modal" data-target="#argon_search_modal" >
                <i class="menu-item-icon fa fa-search mr-0"></i> {{ T "search" }}
            </button>
        </div>
    </div>
</aside>

{{- partial "sidebar/modals.html" . -}}
