{{- $smoothscroll := default "1" .Site.Params.smoothscroll -}}
{{- if eq $smoothscroll "2" }}
<script defer src="{{ "/assets/vendor/smoothscroll/smoothscroll2.js" | relURL }}"></script>
{{- else if eq $smoothscroll "3" }}
<script defer src="{{ "/assets/vendor/smoothscroll/smoothscroll3.min.js" | relURL }}"></script>
{{- else if eq $smoothscroll "1-pulse" }}
<script defer src="{{ "/assets/vendor/smoothscroll/smoothscroll1_pulse.js" | relURL }}"></script>
{{- else if ne $smoothscroll "disabled" }}
<script defer src="{{ "/assets/vendor/smoothscroll/smoothscroll1.js" | relURL }}"></script>
{{- end }}
