{{- $themeColor := default "#5e72e4" .Site.Params.themeColor -}}
{{- $rgb := dict "r" 94 "g" 114 "b" 228 -}}
<style id="themecolor_css">
    :root{
        --themecolor: {{ $themeColor }};
        --themecolor-dark0: {{ $themeColor }};
        --themecolor-dark: {{ $themeColor }};
        --themecolor-dark2: {{ $themeColor }};
        --themecolor-dark3: {{ $themeColor }};
        --themecolor-light: {{ $themeColor }};
        --themecolor-rgbstr: "94,114,228";
        --themecolor-gradient: linear-gradient(150deg,var(--themecolor-light) 15%, var(--themecolor) 70%, var(--themecolor-dark0) 94%);
    }
</style>
<style id="theme_cardradius_css">
    :root{
        --card-radius: {{ default 4 .Site.Params.cardRadius }}px;
    }
</style>
