<!DOCTYPE html>
{{- $htmlClasses := "" -}}
{{- if .Site.Params.enableAmoledDark -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "amoled-dark " -}}
{{- end -}}
{{- if eq .Site.Params.cardShadow "big" -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "use-big-shadow " -}}
{{- end -}}
{{- if eq .Site.Params.font "serif" -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "use-serif " -}}
{{- end -}}
{{- if eq .Site.Params.pageLayout "double" -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "pagelayout-double " -}}
{{- end -}}
{{- if .Site.Params.articleListWaterflow -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "article-list-layout-waterflow " -}}
{{- end -}}

{{- /* --- START: BANNER LOGIC --- */ -}}
{{- $finalBannerSize := "full" -}} {{- /* Default for all pages is 'full' */ -}}
{{- if .IsHome -}}
    {{- $finalBannerSize = .Site.Params.banner.size | default "full" -}} {{- /* On homepage, use config */ -}}
{{- end -}}

{{- if eq $finalBannerSize "fullscreen" -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "banner-is-fullscreen " -}}
{{- else if eq $finalBannerSize "hidden" -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "banner-is-hidden " -}}
{{- end -}}
{{- /* --- END: BANNER LOGIC --- */ -}}

{{- $htmlClasses = printf "%s%s%s" $htmlClasses "article-header-style-" (default "default" .Site.Params.articleHeaderStyle) -}}
<html lang="{{ .Site.LanguageCode }}" class="{{ $htmlClasses }}">
<head>
    {{- partial "head/head.html" . -}}
    {{- block "head" . -}}{{ end }}
</head>
<body>
    {{- partial "head/colorScheme.html" . -}}
    
    {{- partial "header/header.html" . -}}
    
    <div class="page-information-card-container">
        {{- block "information-card" . -}}{{ end }}
    </div>
    
    {{- partial "sidebar/sidebar.html" . -}}
    
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            {{- block "main" . }}{{- end }}
            
            {{- partial "footer/footer.html" . -}}
        </main>
    </div>
    {{- partial "footer/include.html" . -}}
    <script src="{{ "/js/custom.js" | relURL }}"></script>
</body>
</html>
