<!DOCTYPE html>
{{- $banner := dict -}}
{{- with .Site.Params.banner -}}
    {{- if reflect.IsMap . -}}
        {{- $banner = . -}}
    {{- end -}}
{{- end -}}
{{- $htmlClasses := "" -}}
{{- if .Site.Params.enableAmoledDark -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "amoled-dark " -}}
{{- end -}}
{{- if .Site.Params.enableImmersionColor -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "immersion-color " -}}
{{- end -}}
{{- if eq .Site.Params.cardShadow "big" -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "use-big-shadow " -}}
{{- end -}}
{{- if eq .Site.Params.font "serif" -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "use-serif " -}}
{{- end -}}
{{- $pageLayout := default "double" .Site.Params.pageLayout -}}
{{- if eq $pageLayout "single" -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "single-column " -}}
{{- else if eq $pageLayout "double-reverse" -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "double-column-reverse " -}}
{{- else if eq $pageLayout "triple" -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "triple-column " -}}
{{- end -}}
{{- if .Site.Params.transparentBanner -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "argon-yaml-transparent-banner " -}}
{{- end -}}
{{- if .Site.Params.pageBackgroundDarkUrl -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "argon-has-dark-background " -}}
{{- end -}}

{{- /* --- START: BANNER LOGIC --- */ -}}
{{- $finalBannerSize := "full" -}} {{- /* Default for all pages is 'full' */ -}}
{{- if .IsHome -}}
    {{- $finalBannerSize = index $banner "size" | default "full" -}} {{- /* On homepage, use config */ -}}
{{- end -}}

{{- if eq $finalBannerSize "fullscreen" -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "banner-is-fullscreen " -}}
{{- else if eq $finalBannerSize "hidden" -}}
    {{- $htmlClasses = printf "%s%s" $htmlClasses "banner-is-hidden " -}}
{{- end -}}
{{- /* --- END: BANNER LOGIC --- */ -}}

{{- $htmlClasses = printf "%s%s%s" $htmlClasses "article-header-style-" (default "default" .Site.Params.articleHeaderStyle) -}}
<html lang="{{ .Site.LanguageCode }}" class="{{ $htmlClasses }}">
<head>
    {{- partial "head/head.html" . -}}
    {{- block "head" . -}}{{ end }}
</head>
<body>
    {{- partial "header/header.html" . -}}

    <div id="content" class="site-content">
      <div id="page-view">
        <div class="page-information-card-container">
            {{- block "information-card" . -}}{{ end }}
        </div>

        {{- partial "sidebar/sidebar.html" . -}}

        <div id="primary" class="content-area">
            <main id="main" class="site-main{{ block "main-class" . }}{{ end }}" role="main">
                {{- block "main" . }}{{- end }}

                {{- partial "footer/footer.html" . -}}
            </main>
        </div>
        {{- if eq $pageLayout "triple" }}
            {{- partial "sidebar/rightbar.html" . -}}
        {{- end }}
      </div>
    </div>
    {{- partial "footer/include.html" . -}}
</body>
</html>
