{{ define "information-card" }}
<div class="information-card card bg-white shadow-sm border-0">
    <div class="card-body">
        <h2 class="information-card-title">
            {{- if eq .Kind "taxonomy" }}
                {{- if eq .Type "tags" }}
                    {{ printf (T "tagTitle") .Title }}
                {{- else if eq .Type "categories" }}
                    {{ printf (T "categoryTitle") .Title }}
                {{- end }}
            {{- else if eq .Type "archives" }}
                {{ T "archiveTitle" }}
            {{- end }}
        </h2>
        <div class="information-card-meta">
            {{ printf (T "articleCount") (len .Pages) }}
        </div>
    </div>
</div>
{{ end }}

{{ define "main" }}
    {{ $pages := .Pages }}
    {{ $pag := .Paginate $pages }}

    <div class="article-list-container">
        {{ range $pag.Pages }}
            {{- partial "article/preview.html" . -}}
        {{ end }}

    </div>
    {{- partial "pagination.html" . -}}
{{ end }}

{{ define "main-class" }}
    {{- $waterflowColumns := printf "%v" (default "3" .Site.Params.articleListWaterflowColumns) -}}
    article-list{{ if .Site.Params.articleListWaterflow }} waterflow{{ if eq $waterflowColumns "2" }} waterflow-columns-2{{ else if eq $waterflowColumns "3" }} waterflow-columns-3{{ end }}{{ end }}
{{ end }}
