{{ define "information-card" }}
<div class="information-card card bg-white shadow-sm border-0">
    <div class="card-body">
        <h2 class="information-card-title">
            {{- if eq .Kind "taxonomy" }}
                {{- if eq .Type "tags" }}
                    标签: {{ .Title }}
                {{- else if eq .Type "categories" }}
                    分类: {{ .Title }}
                {{- end }}
            {{- else if eq .Type "archives" }}
                归档
            {{- end }}
        </h2>
        <div class="information-card-meta">
            共 {{ len .Pages }} 篇文章
        </div>
    </div>
</div>
{{ end }}

{{ define "main" }}
    {{ $pages := .Pages }}
    {{ $pag := .Paginate $pages }}

    {{ range $pag.Pages }}
        {{- partial "article/preview.html" . -}}
    {{ end }}

    {{- partial "pagination.html" . -}}
{{ end }}
