{{- $viewCounterEnabled := false -}}
{{- with .Site.Params.viewCounter -}}
    {{- if reflect.IsMap . -}}
        {{- $viewCounterEnabled = eq (index . "enabled") true -}}
    {{- end -}}
{{- end -}}
<script defer src="{{ "/argontheme.js" | relURL }}"></script>
<script defer src="{{ "/js/custom.js" | relURL }}?v=custom-2"></script>
{{- if $viewCounterEnabled }}
<script defer src="{{ "/js/view-counter.js" | relURL }}?v=counter-2"></script>
{{- end }}
<script defer src="{{ "/js/navigation.js" | relURL }}?v=navigation-6"></script>
