{{- $paginator := .Paginator -}}
{{- if gt $paginator.TotalPages 1 }}
<nav class="pagination-nav" aria-label="Pagination">
    <ul class="pagination justify-content-center">
        {{- if $paginator.HasPrev }}
        <li class="page-item">
            <a class="page-link" href="{{ $paginator.Prev.URL }}" no-pjax aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{- else }}
        <li class="page-item disabled">
            <span class="page-link">&laquo;</span>
        </li>
        {{- end }}

        {{- $currentPage := $paginator.PageNumber }}
        {{- $totalPages := $paginator.TotalPages }}
        {{- $startPage := 1 }}
        {{- $endPage := $totalPages }}
        
        {{- if gt $totalPages 7 }}
            {{- if le $currentPage 4 }}
                {{- $endPage = 5 }}
            {{- else if ge $currentPage (sub $totalPages 3) }}
                {{- $startPage = sub $totalPages 4 }}
            {{- else }}
                {{- $startPage = sub $currentPage 2 }}
                {{- $endPage = add $currentPage 2 }}
            {{- end }}
        {{- end }}

        {{- if gt $startPage 1 }}
        <li class="page-item">
            <a class="page-link" href="{{ $paginator.First.URL }}" no-pjax>1</a>
        </li>
        {{- if gt $startPage 2 }}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {{- end }}
        {{- end }}

        {{- range $paginator.Pagers }}
            {{- if and (ge .PageNumber $startPage) (le .PageNumber $endPage) }}
                {{- if eq .PageNumber $currentPage }}
                <li class="page-item active">
                    <span class="page-link">{{ .PageNumber }}</span>
                </li>
                {{- else }}
                <li class="page-item">
                <a class="page-link" href="{{ .URL }}" no-pjax>{{ .PageNumber }}</a>
                </li>
                {{- end }}
            {{- end }}
        {{- end }}

        {{- if lt $endPage $totalPages }}
        {{- if lt $endPage (sub $totalPages 1) }}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {{- end }}
        <li class="page-item">
            <a class="page-link" href="{{ $paginator.Last.URL }}" no-pjax>{{ $totalPages }}</a>
        </li>
        {{- end }}

        {{- if $paginator.HasNext }}
        <li class="page-item">
            <a class="page-link" href="{{ $paginator.Next.URL }}" no-pjax aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {{- else }}
        <li class="page-item disabled">
            <span class="page-link">&raquo;</span>
        </li>
        {{- end }}
    </ul>
</nav>
{{- end }}
