{{- $themeColor := default "#5e72e4" .Site.Params.themeColor -}}
{{- $darkmodeAutoswitch := default false .Site.Params.darkmodeAutoswitch -}}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow,noarchive">
    <meta name="theme-color" content="{{ $themeColor }}">
    <meta name="argon-darkmode-autoswitch" content="{{ $darkmodeAutoswitch }}">
    <title>{{ .Title }}</title>
    <style>:root { --argon-compiled-theme-color: {{ $themeColor }}; }</style>
    <script>(function(){try{var r=document.documentElement,m=sessionStorage.getItem('Argon_Enable_Dark_Mode'),meta=document.querySelector('meta[name="argon-darkmode-autoswitch"]'),a=(meta&&meta.getAttribute('content'))||'false',d=a==='alwayson'||(a==='system'&&window.matchMedia&&window.matchMedia('(prefers-color-scheme: dark)').matches)||(a==='time'&&((new Date()).getHours()<7||(new Date()).getHours()>=22));if(m==='true'||(m!=='false'&&d))r.classList.add('darkmode');var c=localStorage.getItem('argon_custom_theme_color');if(c&&(!window.CSS||!window.CSS.supports||window.CSS.supports('color',c)))r.style.setProperty('--settings-primary',c);}catch(e){}}());</script>
    <link rel="stylesheet" href="{{ "admin/admin.css" | relURL }}?v=admin-8">
</head>
