{{- $fab := dict -}}
{{- with .Site.Params.fab -}}
    {{- if reflect.IsMap . -}}
        {{- $fab = . -}}
    {{- end -}}
{{- end -}}
{{- $showCustomizeThemeColorPicker := true -}}
{{- if eq .Site.Params.showCustomizeThemeColorPicker false -}}
    {{- $showCustomizeThemeColorPicker = false -}}
{{- end -}}
<div id="float_action_buttons" class="float-action-buttons fabtns-unloaded">
    <button id="fabtn_toggle_sides" class="btn btn-icon btn-neutral fabtn shadow-sm" type="button" aria-hidden="true" tooltip-move-to-left="{{ T "moveToLeft" }}" tooltip-move-to-right="{{ T "moveToRight" }}">
        <span class="btn-inner--icon fabtn-show-on-right"><i class="fa fa-caret-left"></i></span>
        <span class="btn-inner--icon fabtn-show-on-left"><i class="fa fa-caret-right"></i></span>
    </button>
    <button id="fabtn_back_to_top" class="btn btn-icon btn-neutral fabtn shadow-sm" type="button" aria-label="{{ T "backToTop" }}" tooltip="{{ T "backToTop" }}">
        <span class="btn-inner--icon"><i class="fa fa-angle-up"></i></span>
    </button>
    <button id="fabtn_go_to_comment" class="btn btn-icon btn-neutral fabtn shadow-sm d-none" type="button" {{ if not (index $fab "showGotocommentButton") }}style='display: none;'{{ end }} aria-label="{{ T "comment" }}" tooltip="{{ T "comment" }}">
        <span class="btn-inner--icon"><i class="fa fa-comment-o"></i></span>
    </button>
    <button id="fabtn_toggle_darkmode" class="btn btn-icon btn-neutral fabtn shadow-sm" type="button" {{ if not (index $fab "showDarkmodeButton") }}style='display: none;'{{ end }} aria-label="{{ T "darkMode" }}" tooltip-darkmode="{{ T "darkMode" }}" tooltip-blackmode="{{ T "blackMode" }}" tooltip-lightmode="{{ T "lightMode" }}">
        <span class="btn-inner--icon"><i class="fa fa-moon-o"></i><i class='fa fa-lightbulb-o'></i></span>
    </button>
    <button id="fabtn_toggle_blog_settings_popup" class="btn btn-icon btn-neutral fabtn shadow-sm" type="button" {{ if not (index $fab "showSettingsButton") }}style='display: none;'{{ end }} aria-label="{{ T "settings" }}" tooltip="{{ T "settings" }}">
        <span class="btn-inner--icon"><i class="fa fa-cog"></i></span>
    </button>
    <div id="fabtn_blog_settings_popup" class="card shadow-sm" style="opacity: 0;" aria-hidden="true">
        <div id="close_blog_settings"><i class="fa fa-close"></i></div>
        <div class="blog-setting-item mt-3">
            <div style="transform: translateY(-4px);"><div id="blog_setting_toggle_darkmode_and_amoledarkmode" tooltip-switch-to-darkmode="{{ T "switchToDarkMode" }}" tooltip-switch-to-blackmode="{{ T "switchToBlackMode" }}"><span>{{ T "darkMode" }}</span><span>{{ T "blackMode" }}</span></div></div>
            <div style="flex: 1;"></div>
            <label id="blog_setting_darkmode_switch" class="custom-toggle">
                <span class="custom-toggle-slider rounded-circle"></span>
            </label>
        </div>
        <div class="blog-setting-item mt-3">
            <div style="flex: 1;">{{ T "font" }}</div>
            <div>
                <button id="blog_setting_font_sans_serif" type="button" class="blog-setting-font btn btn-outline-primary blog-setting-selector-left">Sans Serif</button><button id="blog_setting_font_serif" type="button" class="blog-setting-font btn btn-outline-primary blog-setting-selector-right">Serif</button>
            </div>
        </div>
        <div class="blog-setting-item mt-3">
            <div style="flex: 1;">{{ T "shadow" }}</div>
            <div>
                <button id="blog_setting_shadow_small" type="button" class="blog-setting-shadow btn btn-outline-primary blog-setting-selector-left">{{ T "lightShadow" }}</button><button id="blog_setting_shadow_big" type="button" class="blog-setting-shadow btn btn-outline-primary blog-setting-selector-right">{{ T "deepShadow" }}</button>
            </div>
        </div>
        <div class="blog-setting-item mt-3 mb-3">
            <div style="flex: 1;">{{ T "filter" }}</div>
            <div id="blog_setting_filters" class="ml-3">
                <button id="blog_setting_filter_off" type="button" class="blog-setting-filter-btn ml-0" filter-name="off">{{ T "filterOff" }}</button>
                <button id="blog_setting_filter_sunset" type="button" class="blog-setting-filter-btn" filter-name="sunset">{{ T "sunset" }}</button>
                <button id="blog_setting_filter_darkness" type="button" class="blog-setting-filter-btn" filter-name="darkness">{{ T "darken" }}</button>
                <button id="blog_setting_filter_grayscale" type="button" class="blog-setting-filter-btn" filter-name="grayscale">{{ T "grayscale" }}</button>
            </div>
        </div>
        <div class="blog-setting-item mb-3">
            <div id="blog_setting_card_radius_to_default" style="cursor: pointer;" tooltip="{{ T "resetDefault" }}">{{ T "borderRadius" }}</div>
            <div style="flex: 1;margin-left: 20px;margin-right: 8px;transform: translateY(2px);">
                <div id="blog_setting_card_radius"></div>
            </div>
        </div>
        {{- if $showCustomizeThemeColorPicker }}
        <div class="blog-setting-item mt-1 mb-3">
            <div style="flex: 1;">{{ T "themeColor" }}</div>
            <div id="theme-color-picker" class="ml-3"></div>
        </div>
        <div class="blog-setting-item mt-1 mb-3">
            <div style="flex: 1;">夜间主题色</div>
            <div id="theme-color-picker-darkmode" class="ml-3"></div>
        </div>
        {{- end }}
    </div>
    <button id="fabtn_open_sidebar" class="btn btn-icon btn-neutral fabtn shadow-sm" type="button" aria-label="{{ T "menu" }}" tooltip="{{ T "menu" }}">
        <span class="btn-inner--icon"><i class="fa fa-bars"></i></span>
    </button>
    <button id="fabtn_reading_progress" class="btn btn-icon btn-neutral fabtn shadow-sm" type="button" aria-hidden="true" tooltip="{{ T "readingProgress" }}">
        <div id="fabtn_reading_progress_bar" style="width: 0%;"></div>
        <span id="fabtn_reading_progress_details">0%</span>
    </button>
</div>
