{{- $toolbar := dict -}}
{{- $site := .Site -}}
{{- with .Site.Params.toolbar -}}
    {{- if reflect.IsMap . -}}
        {{- $toolbar = . -}}
    {{- end -}}
{{- end -}}
<div id="toolbar">
    <header class="header-global">
        <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light bg-primary headroom--not-bottom headroom--not-top headroom--pinned{{ if index $toolbar "blur" }} navbar-blur{{ end }}">
            <div class="container">
                {{- with (index $toolbar "icon") }}
                <a class="navbar-brand navbar-icon mr-lg-5" href="{{ index $toolbar "iconLink" | default "/" | relURL }}">
                    <img src="{{ . | relURL }}">
                </a>
                {{- end }}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="{{ T "toggleNavigation" }}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{ "/" | relURL }}">
                    {{- if index $toolbar "title" }}
                        {{ index $toolbar "title" }}
                    {{- else }}
                        {{ .Site.Title }}
                    {{- end }}
                </a>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand"></div>
                            <div class="col-6 collapse-close">
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="{{ T "toggleNavigation" }}">
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <ul id="navbar_search_btn_mobile" class="navbar-nav align-items-lg-center ml-lg-auto">
                        <li class="nav-item" data-toggle="modal" data-target="#argon_search_modal" style="padding-left: 5px;">
                            <a class="nav-link nav-link-icon">
                                <i class="fa fa-search"></i>
                                <span class="nav-link-inner--text d-lg-none">{{ T "search" }}</span>
                            </a>
                        </li>
                    </ul>
                    {{- with (index $toolbar "menu") }}
                    {{- if reflect.IsSlice . }}
                    <ul class='navbar-nav navbar-nav-hover align-items-lg-center'>
                        {{- range . }}
                        {{- $dyn := .dynamic -}} {{- /* 可选 "categories" / "tags"：子项由站点分类/标签自动生成 */ -}}
                        {{- $dynTax := dict -}}
                        {{- if eq $dyn "categories" -}}
                            {{- $dynTax = $site.Taxonomies.categories -}}
                        {{- end -}}
                        {{- if eq $dyn "tags" -}}
                            {{- $dynTax = $site.Taxonomies.tags -}}
                        {{- end -}}
                        {{- $isDropdown := or (and $dyn (ne (len $dynTax) 0)) .children -}}
                        <li class='nav-item{{ if $isDropdown }} dropdown{{ end }}'>
                            <a href='{{ if $dyn }}{{ $dyn | relLangURL }}{{ else if .children }}#{{ else }}{{ .url | relURL }}{{ end }}' class='nav-link' {{ if and .children (not $dyn) }}onclick='return false;' data-toggle='dropdown'{{ end }}>
                                {{- if .icon }}<i class="{{ .icon }}"></i>{{ else }}<i class='ni ni-book-bookmark d-lg-none'></i>{{ end -}}
                                <span class='nav-link-inner--text'>{{ .name }}</span>
                            </a>
                            {{- if $isDropdown }}
                            <div class="dropdown-menu">
                                {{- if $dyn }}
                                {{- range $name, $pages := $dynTax }}
                                <a href='{{ printf "%s/" $dyn | relURL }}{{ $name | urlize }}' class='dropdown-item'>{{ $name }} <span class="tag-num">({{ len $pages }})</span></a>
                                {{- else }}
                                {{- range .children }}
                                <a href='{{ .url | relURL }}' class='dropdown-item'>{{ .name }}</a>
                                {{- end }}
                                {{- end }}
                            </div>
                            {{- end }}
                            {{- end }}
                        </li>
                        {{- end }}
                    </ul>
                    {{- end }}
                    {{- end }}
                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                        <li class="nav-item" data-toggle="modal" data-target="#argon_search_modal" id="navbar_search_btn_pc">
                            <a class="nav-link nav-link-icon">
                                <i class="fa fa-search"></i>
                                <span class="nav-link-inner--text d-lg-none">{{ T "search" }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                {{- with (index $toolbar "icon") }}
                <a class="navbar-brand navbar-icon-mobile" href="{{ index $toolbar "iconLink" | default "/" | relURL }}">
                    <img src="{{ . | relURL }}">
                </a>
                {{- end }}
                <div id="navbar_menu_mask" data-toggle="collapse" data-target="#navbar_global"></div>
            </div>
        </nav>
    </header>
</div>

{{- partial "header/search-modal.html" . -}}
{{- partial "header/banner.html" . -}}
{{- partial "header/floating-buttons.html" . -}}
