{{- $backgroundBlurEnabled := true -}}
{{- $backgroundBlurMax := 8 -}}
{{- with .Site.Params.pageBackgroundBlur -}}
    {{- if reflect.IsMap . -}}
        {{- if isset . "enabled" -}}
            {{- $backgroundBlurEnabled = eq (index . "enabled") true -}}
        {{- end -}}
        {{- if isset . "max" -}}
            {{- $backgroundBlurMax = index . "max" -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
<style>
    #content {
        --argon-runtime-bg: {{ with .Site.Params.pageBackgroundUrl }}url({{ . | safeCSS }}){{ else }}none{{ end }};
        --argon-runtime-bg-dark: {{ with .Site.Params.pageBackgroundDarkUrl }}url({{ . | safeCSS }}){{ else }}none{{ end }};
        --argon-runtime-bg-opacity: {{ default 1 .Site.Params.pageBackgroundOpacity }};
        --argon-background-blur-enabled: {{ if $backgroundBlurEnabled }}1{{ else }}0{{ end }};
        --argon-background-blur-max: {{ $backgroundBlurMax }};
        --argon-background-blur: 0px;
    }
    #content:before {
        content: '';
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -2;
        background: var(--argon-runtime-bg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        pointer-events: none;
        opacity: var(--argon-runtime-bg-opacity);
        filter: blur(var(--argon-background-blur));
        transform: scale(1.04);
        transition: opacity .5s ease;
    }
    html.darkmode #content:before{
        filter: brightness(0.65) blur(var(--argon-background-blur));
        opacity: var(--argon-runtime-bg-opacity);
    }
    #content:after {
        content: '';
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -2;
        background: var(--argon-runtime-bg-dark);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        pointer-events: none;
        opacity: 0;
        filter: blur(var(--argon-background-blur));
        transform: scale(1.04);
        transition: opacity .5s ease;
    }
    html.darkmode #content:after {
        opacity: 0;
    }
    html.darkmode.argon-has-dark-background #content:before {
        opacity: 0;
    }
    html.darkmode.argon-has-dark-background #content:after {
        opacity: var(--argon-runtime-bg-opacity);
    }
    html.argon-yaml-transparent-banner:not(.argon-runtime-opaque-banner) #banner,
    html.argon-yaml-transparent-banner:not(.argon-runtime-opaque-banner) #banner .shape,
    html.argon-runtime-transparent-banner #banner,
    html.argon-runtime-transparent-banner #banner .shape {
        background: transparent !important;
    }
    html.argon-runtime-opaque-banner #banner,
    html.argon-runtime-opaque-banner #banner .shape {
        background: var(--themecolor-gradient) !important;
    }
</style>

