{{- $page := .page -}}
{{- $src := default "" .src -}}
{{- if ne $src "" -}}
    {{- $resource := false -}}
    {{- $hasResource := false -}}
    {{- $resourceName := default "" .resourceName -}}
    {{- if eq $resourceName "" }}
        {{- with $page.Params.image }}{{ $resourceName = . }}{{ end -}}
        {{- if eq $resourceName "" }}{{ with $page.Params.thumbnail }}{{ $resourceName = . }}{{ end }}{{ end -}}
    {{- end -}}

    {{- $hasExplicitImage := ne $resourceName "" -}}
    {{- $isLocalName := and $hasExplicitImage (not (or (strings.HasPrefix $resourceName "http://") (strings.HasPrefix $resourceName "https://") (strings.HasPrefix $resourceName "/"))) -}}
    {{- if $isLocalName }}
        {{- with $page.Resources.GetMatch $resourceName }}{{ $resource = . }}{{ $hasResource = true }}{{ end -}}
    {{- end -}}

    {{- $isLocalSource := not (or (strings.HasPrefix $src "http://") (strings.HasPrefix $src "https://") (strings.HasPrefix $src "data:")) -}}
    {{- if and (not $hasResource) (not $hasExplicitImage) $isLocalSource (ne $src "") -}}
        {{- $srcName := $src -}}
        {{- if strings.Contains $srcName "/" }}{{ $srcName = path.Base $srcName }}{{ end -}}
        {{- with $page.Resources.GetMatch $srcName }}{{ $resource = . }}{{ $hasResource = true }}{{ end -}}
    {{- end -}}

    {{- if and (not $hasResource) (not $hasExplicitImage) $isLocalSource -}}
        {{- with $page.Resources.ByType "image" }}
            {{- with .GetMatch "*" -}}
                {{- $srcName := $src -}}
                {{- if strings.Contains $srcName "/" }}{{ $srcName = path.Base $srcName }}{{ end -}}
                {{- if or (eq $src .RelPermalink) (eq $srcName .Name) }}{{ $resource = . }}{{ $hasResource = true }}{{ end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- $url := $src | relURL -}}
    {{- $width := 0 -}}
    {{- $height := 0 -}}
    {{- if $hasResource -}}
        {{- $url = $resource.RelPermalink -}}
        {{- $width = $resource.Width -}}
        {{- $height = $resource.Height -}}
    {{- end -}}

    <img src="{{ $url }}" class="{{ default "" .class }}" alt="{{ default $page.Title .alt }}"{{ if gt $width 0 }} width="{{ $width }}" height="{{ $height }}"{{ end }} loading="{{ default "lazy" .loading }}" decoding="async"{{ with .fetchpriority }} fetchpriority="{{ . }}"{{ end }}>
{{- end -}}
