{{- $metaList := split (default "time|categories|words|readingtime" .Site.Params.articleMeta) "|" -}}
{{- $viewCounter := dict -}}
{{- with .Site.Params.viewCounter -}}
    {{- if reflect.IsMap . -}}
        {{- $viewCounter = . -}}
    {{- end -}}
{{- end -}}
{{- $showViews := false -}}
{{- if and (eq (index $viewCounter "enabled") true) (eq (printf "%T" (index $viewCounter "endpoint")) "string") (ne (index $viewCounter "endpoint") "") -}}
    {{- $showViews = true -}}
{{- end -}}
{{- $showReadingtime := true -}}
{{- if eq .Site.Params.showReadingtime false -}}
    {{- $showReadingtime = false -}}
{{- end -}}
{{- $commentsConfigured := false -}}
{{- $commentEndpoint := "" -}}
{{- with .Site.Params.comments -}}
    {{- if reflect.IsMap . -}}
        {{- $commentEndpoint = index . "endpoint" -}}
        {{- $commentsConfigured = and (eq (index . "enabled") true) (eq (printf "%T" $commentEndpoint) "string") (ne $commentEndpoint "") -}}
    {{- end -}}
{{- end -}}
{{- $hasCommentCount := ne (printf "%T" .Params.commentsCount) "<nil>" -}}
{{- $renderedCount := 0 -}}
{{- range $meta := $metaList }}
    {{- $shouldRender := false -}}
    {{- if or (eq $meta "time") (eq $meta "edittime") (eq $meta "words") -}}
        {{- $shouldRender = true -}}
    {{- else if eq $meta "readingtime" -}}
        {{- $shouldRender = $showReadingtime -}}
    {{- else if or (eq $meta "views") (eq $meta "read") -}}
        {{- $shouldRender = $showViews -}}
    {{- else if eq $meta "comments" -}}
        {{- $shouldRender = or $hasCommentCount $commentsConfigured -}}
    {{- else if eq $meta "categories" -}}
        {{- with $.Params.categories -}}
            {{- $shouldRender = true -}}
        {{- end -}}
    {{- else if eq $meta "tags" -}}
        {{- with $.Params.tags -}}
            {{- $shouldRender = true -}}
        {{- end -}}
    {{- end -}}
    {{- if $shouldRender -}}
        {{- if gt $renderedCount 0 }}<div class="post-meta-devide">|</div>{{ end -}}
        {{- if eq $meta "time" -}}
        <div class="post-meta-detail post-meta-detail-time">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <time title="{{ printf (T "publishedEdited") ($.Date.Format "2006-01-02 15:04:05") ($.Lastmod.Format "2006-01-02 15:04:05") }}">
                {{ $.Date.Format "2006-01-02 15:04" }}
            </time>
        </div>
        {{- else if eq $meta "edittime" -}}
        <div class="post-meta-detail post-meta-detail-edittime">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <time title="{{ printf (T "publishedEdited") ($.Date.Format "2006-01-02 15:04:05") ($.Lastmod.Format "2006-01-02 15:04:05") }}">
                {{ $.Lastmod.Format "2006-01-02 15:04" }}
            </time>
        </div>
        {{- else if eq $meta "categories" -}}
        <div class="post-meta-detail post-meta-detail-categories">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            {{- range $idx, $cat := $.Params.categories }}
                {{- if gt $idx 0 }} , {{ end -}}
                <a href="{{ "categories/" | relURL }}{{ $cat | urlize }}" class="post-meta-detail-category">{{ $cat }}</a>
            {{- end }}
        </div>
        {{- else if or (eq $meta "views") (eq $meta "read") -}}
        <div class="post-meta-detail post-meta-detail-views d-none" data-view-count data-view-id="{{ $.RelPermalink }}" hidden aria-hidden="true">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span class="argon-view-count-value"></span>
        </div>
        {{- else if eq $meta "comments" -}}
        <div class="post-meta-detail post-meta-detail-comments" data-comment-count data-comment-count-id="{{ $.RelPermalink }}" data-comment-count-endpoint="{{ $commentEndpoint }}"{{ if not $hasCommentCount }} hidden aria-hidden="true"{{ end }}>
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            <span data-comment-count-value>{{ if $hasCommentCount }}{{ printf (T "commentCount") $.Params.commentsCount }}{{ end }}</span>
        </div>
        {{- else if eq $meta "tags" -}}
        <div class="post-meta-detail post-meta-detail-tags">
            <i class="fa fa-tags" aria-hidden="true"></i>
            {{- range $idx, $tag := $.Params.tags }}
                {{- if gt $idx 0 }} , {{ end -}}
                <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}" class="post-meta-detail-tag">{{ $tag }}</a>
            {{- end }}
        </div>
        {{- else if eq $meta "words" -}}
        <div class="post-meta-detail post-meta-detail-words">
            <i class="fa fa-file-word-o" aria-hidden="true"></i>
            <span>{{ printf (T "wordCount") $.WordCount }}</span>
        </div>
        {{- else if eq $meta "readingtime" -}}
        <div class="post-meta-detail post-meta-detail-readingtime">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span>{{ partial "article/readingtime.html" $ }}</span>
        </div>
        {{- end -}}
        {{- $renderedCount = add $renderedCount 1 -}}
    {{- end -}}
{{- end -}}
