{{- if or .PrevInSection .NextInSection -}}
<div class="post-navigation card shadow-sm">
	{{- if .PrevInSection -}}
	<div class="post-navigation-item post-navigation-pre">
		<span class="page-navigation-extra-text"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>{{ T "prevPost" }}</span>
		<a href="{{ .PrevInSection.RelPermalink }}" rel="prev">{{ .PrevInSection.Title }}</a>
	</div>
	{{- else -}}
	<div class="post-navigation-item post-navigation-pre"></div>
	{{- end -}}
	{{- if .NextInSection -}}
	<div class="post-navigation-item post-navigation-next">
		<span class="page-navigation-extra-text">{{ T "nextPost" }} <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>
		<a href="{{ .NextInSection.RelPermalink }}" rel="next">{{ .NextInSection.Title }}</a>
	</div>
	{{- else -}}
	<div class="post-navigation-item post-navigation-next"></div>
	{{- end -}}
</div>
{{- end -}}
