{{- $excerpt := "" -}}
{{- if .Description -}}
	{{- $excerpt = .Description | plainify -}}
{{- else if .Summary -}}
	{{- $excerpt = .Summary | plainify -}}
{{- else -}}
	{{- $excerpt = .Plain | truncate 50 -}}
{{- end -}}

<div id="share_container">
	<div id="share" data-initialized="false" data-share-title="{{ .Title }}" data-share-description="{{ $excerpt }}" data-share-source="{{ .Permalink }}">
		<a class="no-pjax icon-wechat" tooltip="{{ T "shareToWeChat" }}">
			<button class="btn btn-icon btn-success">
				<span class="btn-inner--icon"><i class="fa fa-weixin"></i></span>
			</button>
		</a>
		<a target="_blank" class="no-pjax icon-douban" tooltip="{{ T "shareToDouban" }}">
			<button class="btn btn-icon btn-primary" style="background: #209261;border: none;">
				豆
			</button>
		</a>
		<a target="_blank" class="no-pjax icon-qq" tooltip="{{ T "shareToQQ" }}">
			<button class="btn btn-icon btn-primary" style="background: #2196f3;border: none;">
				<span class="btn-inner--icon"><i class="fa fa-qq"></i></span>
			</button>
		</a>
		<a target="_blank" class="no-pjax icon-qzone" tooltip="{{ T "shareToQzone" }}">
			<button class="btn btn-icon btn-primary" style="background: #ffc107;border: none;">
				<span class="btn-inner--icon"><i class="fa fa-star"></i></span>
			</button>
		</a>
		<a target="_blank" class="no-pjax icon-weibo" tooltip="{{ T "shareToWeibo" }}">
			<button class="btn btn-icon btn-warning">
				<span class="btn-inner--icon"><i class="fa fa-weibo"></i></span>
			</button>
		</a>
		<a target="_blank" class="no-pjax icon-facebook" tooltip="{{ T "shareToFacebook" }}">
			<button class="btn btn-icon btn-primary" style="background: #283593;border: none;">
				<span class="btn-inner--icon"><i class="fa fa-facebook"></i></span>
			</button>
		</a>
		<a target="_blank" class="no-pjax icon-twitter" tooltip="{{ T "shareToTwitter" }}">
			<button class="btn btn-icon btn-primary" style="background: #03a9f4;border: none;">
				<span class="btn-inner--icon"><i class="fa fa-twitter"></i></span>
			</button>
		</a>
		<a target="_blank" class="no-pjax icon-telegram" href="https://telegram.me/share/url?url={{ .Permalink }}&text={{ .Title | urlquery }}" tooltip="{{ T "shareToTelegram" }}">
			<button class="btn btn-icon btn-primary" style="background: #42a5f5;border: none;">
				<span class="btn-inner--icon"><i class="fa fa-telegram"></i></span>
			</button>
		</a>
		<a target="_blank" class="no-pjax icon-copy-link" id="share_copy_link" tooltip="{{ T "copyLink" }}">
			<button class="btn btn-icon btn-default">
				<span class="btn-inner--icon"><i class="fa fa-link"></i></span>
			</button>
		</a>
	</div>
	<button id="share_show" class="btn btn-icon btn-primary" tooltip="{{ T "share" }}">
		<span class="btn-inner--icon"><i class="fa fa-share"></i></span>
	</button>
</div>
